.app {
  width: 500px;
  min-height: 100px;
  background: #282828;
  color: #fff;
}

body {
  margin: 0;
}

.openSoundCloud {
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}